{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Shop{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="cart">
    <i class="fas fa-shopping-cart"></i>
    <a href="{% url 'cart' %}">Корзина ({{ cart|length }} товаров)</a>
</div>

{% block content %}{% endblock %}
</body>
</html>