{% extends "base.html" %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Корзина</h1>
    {% if items %}
        <div class="cart-summary">
            <ul>
                {% for item in items %}
                    <li class="cart-item">
                        <span class="item-name">{{ item.name }}</span>
                        <div class="quantity-control">
                            <button class="quantity-btn minus">-</button>
                            <input type="text" class="quantity-input" value="1" readonly>
                            <button class="quantity-btn plus">+</button>
                        </div>
                        <span class="item-price">{{ item.price }}</span>
                    </li>
                {% endfor %}
            </ul>
            <hr>
            <p>SUMMARY: {{ subtotal }} ₽</p>
            <p>DISCOUNT: {{ discount_amount }}</p>
            <p>TAXES: {{ tax_amount }}</p>
            <hr>
            <h2>TOTAL: {{ total_price }} ₽</h2>
        </div>

       <button id="checkout-button" class="btn btn-primary rounded-button">Оформить заказ</button>
    {% else %}
        <p>Корзина пуста</p>
    {% endif %}
    <button onclick="window.location.href='/'" class="back-button rounded-button">
        <i class="fas fa-arrow-left"></i> Назад
    </button>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.getElementById('checkout-button').addEventListener('click', function () {
            fetch('/buy/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    items: [
                        {% for item in items %}
                            {id: "{{ item.id }}", quantity: 1},
                        {% endfor %}
                    ]
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.session_id) {
                        const stripe = Stripe(data.stripe_public_key);
                        stripe.redirectToCheckout({sessionId: data.session_id})
                            .then(function (result) {
                                if (result.error) {
                                    console.error('Redirect error:', result.error);
                                }
                            });
                    } else {
                        console.error('Ошибка: Не получен session_id');
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
        });
    </script>
{% endblock %}