{% extends "base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}


{% block content %}
    <h1>Корзина</h1>
    {% if items %}
        <div class="cart-summary">
            <ul>
                {% for item in items %}
                    <li class="cart-item"
                        data-item-id="{{ item.item.id }}"
                        data-quantity="{{ item.quantity }}">
                        <span class="item-name">{{ item.item.name }}</span>
                        <span class="quantity-input">{{ item.quantity }}</span>
                        <span class="item-price">{{ item.price }}</span>
                    </li>
                {% endfor %}
            </ul>
            <hr>
            <p>SUMMARY: {{ subtotal|floatformat:2 }} ₽</p>
            <p>DISCOUNT: {{ discount_amount|floatformat:2 }} ₽</p>
            <p>TAXES: {{ tax_amount|floatformat:2 }} ₽</p>
            <hr>
            <h2 id="total_price">TOTAL: {{ total_price|floatformat:2 }} ₽</h2>
        </div>

        <button id="checkout-button" class="btn btn-primary rounded-button">Оформить заказ</button>
    {% else %}
        <p>Корзина пуста</p>
    {% endif %}
    <button onclick="window.location.href='/'" class="back-button rounded-button">
        <i class="fas fa-arrow-left"></i> Назад
    </button>

    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}