{% extends "base.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <h1>{{ item.name }}</h1>
    <p>Цена: {{ item.price }} ₽</p>
    <form method="post" action="{% url 'cart' %}">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button type="submit" class="rounded-button">Добавить в корзину</button>
    </form>
    <button onclick="window.location.href='/'" class="back-button rounded-button">
        <i class="fas fa-arrow-left"></i> Назад
    </button>
{% endblock %}
